<% if !gruppetto.participant_ids.include? current_user.id %>
  <form action="<%= gruppetto_participations_path(gruppetto) %>", method="POST">
    <input type="hidden" name="gruppetto_id" value="<%= gruppetto.id %>">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="submit" name="commit" value="Join the ride!"
          class="btn btn-primary w-100">
  </form>
<% end %>
