<% case participation_status %>
  <% when "pending" %>
    <span class="badge bg-info">Pending</span>
  <% when "attending" %>
    <span class="badge bg-secondary">Attending</span>
  <% when "rejected" %>
    <span class="badge bg-danger">Rejected</span>
  <% else %>
    Unknown status
<% end %>
