<% case participation_status %>
  <% when "pending" %>
    <span class="badge bg-info">Pending</span>
  <% when "unconfirmed" %>
    <span class="badge bg-secondary">Accepted</span>
  <% when "confirmed" %>
    <span class="badge bg-danger">Rejected</span>
  <% else %>
    Unknown status
<% end %>
