<% case participation_status %>
  <% when "Pending" %>
    <button type="button" class="btn btn-outline-primary text-center w-100" disabled>Pending</button>
  <% when "Attending" %>
    <button type="button" class="btn btn-primary text-center w-100" disabled>Attending</button>
  <% when "Rejected" %>
    <button type="button" class="btn btn-outline-dark text-center w-100" disabled>Rejected</button>
  <% else %>
    Unknown status
<% end %>
