<% case participation_status %>
  <% when "Pending" %>
    <span class="badge bg-info align-middle">Pending</span>
  <% when "Attending" %>
    <span class="badge bg-success align-middle">Attending</span>
  <% when "Rejected" %>
    <span class="badge bg-danger align-middle">Rejected</span>
  <% else %>
    Unknown status
<% end %>
