<% case participation_status %>
  <% when "Pending" %>
    <button type="button" class="btn btn-outline-primary w-50" disabled>Request pending</button>
  <% when "Attending" %>
    <button type="button" class="btn btn-primary w-50" disabled>Attending</button>
  <% when "Rejected" %>
    <button type="button" class="btn btn-outline-dark w-50" disabled>Request reqected</button>
  <% else %>
    Unknown status
<% end %>
