<div class="<%= hidden ? 'd-none' : '' %>" data-gruppetto-form-hide-target="trackSelector">
  <select class="form-select" aria-label="" name='gruppetto[track][id]'>
    <option value=""></option>
    <% tracks.each do |track| %>
      <option value="<%= track.id %>"><%= track.name %></option>
    <% end %>
  </select>
</div>
