<div class="<%= hidden ? 'visually-hidden' : '' %>">
  <select class="form-select" aria-label="" name='track[id]'>
    <option value=""></option>
    <% tracks.each do |track| %>
      <option value="<%= track.id %>"><%= track.name %></option>
    <% end %>
  </select>
</div>
