// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;

$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-gray: #1f2023;
$light-green: #8adfcf;
$green: #37caa8;
