<div class="d-flex justify-content-between w-100  bg-dark align-items-center p-3" style="position:fixed; top:0;z-index:10000;">

    <div class='flex-grow-1'>
      <%= image_tag "logo.svg", style: 'height:30px;width:auto' %>
    </div>
    <div class='d-flex'>
          <% if user_signed_in? %>
              <%= render 'shared/notifications' %>
          <% else %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
          <% end %>
    </div>
</div>
