<div data-controller="notification-subscription">
  <%= link_to notifications_path, class: "container notifications" do %>
    <button type="button" class="btn btn-outline-secondary position-relative">
      <i class="fa-regular fa-bell"></i>

      <% if current_user.notifications.count > 0 %>
          <% if current_user.notifications.unread.count > 0 %>
            <div class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <span data-notification-subscription-target="count" id="notification-count">
                  <%= current_user.notifications.unread.count %>

                </span>
                <span class="visually-hidden">unread messages</span>
            </div>
          <% end %>
      <% end %>
    </button>
  <% end %>

</div>
