<div class="banner">
  <div class="container">
    <h1>Find your next grupetto</h1>
    <p>powered by GroupAppO</p>
    <%= link_to "Find your gruppetto", gruppettos_path, class: "btn btn-primary" %>
  </div>
</div>
