
body, html{
  height:100%;
  margin:0;
}
.masthead {
  // background: url('background-jan.jpg') no-repeat center center fixed;
  background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 65, 11, 0.73)),url('https://res.cloudinary.com/droozakjm/image/upload/c_scale,w_1216/v1670472042/assets/background-jan_mwesss.jpg');
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homecard{
  background-image:linear-gradient(to bottom, rgba(0, 55, 43, 0.4), rgba(89, 157, 142, 0.00));
}
