// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/banner";
@import "components/index";
@import "pages/index";

@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

.fa-solid {
  color: rgb(156, 155, 155);
}
