<%# Navigation bar at the top   %>

<%# Map with the start locations of each gruppettos %>
<div class="" style="position: sticky; top: 6%; z-index:-1000;">
  <div style="width:100%; height: 40vh;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
  <button type="button"
          class="btn btn-primary w-25"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalScrollable"
          style='position:fixed;left:35vw;bottom:78px'>
    Search Filter
  </button>
<div  style='padding-bottom:56px'>
  <%# renders the index_card.html.erb with sending the gruppetto params %>
  <table class="table table-hover table-borderless" style="background: rgba(238,238,238,0.9);border-radius: 10px;">
    <thead>
    </thead>
      <tbody>
        <% @gruppettos.each do | gruppetto | %>
        <%= render "index_card", gruppetto: gruppetto %>
        <% end %>
    </tbody>
  </table>
</div>
